@import 'bootstrap/dist/css/bootstrap.min.css';
textarea {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
}

button {
  padding: 8px 16px;
  margin-top: 5px;
  font-weight: bold;
}
.modal-container{

position:absolute;
top:50%;  
background-color:white;
padding:10px;
border-radius:5px;

left : 50%;
transform: translate(-50%, -50%);
}
.modal-overlay{
  height:100%;
width:100%;
position:fixed;
top:0;
left:0;
background : rgba(0,0,0,0.5)
}





